
/* Structure */
nav {
    width: 560px;
    height: 100vh;
	min-height: 600px;
	margin: 0 auto;
	padding: 20px;
}

@media screen and (max-width: 320px) {
    #container {
        width: 280px;
        padding: 10px;
    }
}

button {
    display: block;
    margin-bottom: 20px;
}

#error {
    color: #f00;
}

.footer {
    border-top: 1px solid #000;
    margin-top: 30px;
    padding-top: 10px;
}