.load {
    background: url(../img/load.png);
    background-size: cover;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 200;
}
/*fin de load*/
.portada{
	background: url("../img/giphy.gif");
	background-size: cover;
	background-position: center;
	position: relative;
	height: 100vh;
}
.logo{
	width: 13rem;
    margin-left: 10rem;
}
.boton{
	bottom: 12%;
    font-size: 20px;
	position: absolute;
	margin: -5%;
	width: 40%;
}
.login{
	background-color: transparent;
	border-color: white;
	color: white;
	left: 10%;	
}
.singup{
	background-color: #c73cbe;
	border-color: white;
	color:white;
	right: 10%;
}

/*fin del index*/
a{
	text-decoration:none;
}
.atras{
	color: black;
	font-size: 15px;
	position: absolute;
	margin-top: 4%;
	left: 10%;
}
.titulo{
	font-size: 20px;
    font-weight: bold;
    margin: 4% 35%;
}
.centro{
	text-align: center;
}
.elegirPais{
	width: 2rem;
}	
#ingreseNumero{
	display: inline-block;
    float: left;
    width: 58%;
}
.parrafo{
	float: left;
    margin-top: 2rem;
}
.next{
	color: white;
    font-size: 3rem;
    text-decoration: none;
}
.digito{
	width: 6rem;
	border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 2px;
}
.pd-top{
	padding-top: 2rem;
}
.digito:hover{
	color: none;
}
.icono{
	top: 0px;
}
.pd{
	padding: 1rem;
}
footer{
    background-color: #f3038e;
    position: absolute;
    height: 5rem;
    width: 100%;
    bottom: 0px;
}